
body { 
  background: url('../images/pexels-photo-120276.jpeg');
  background-repeat:  no-repeat ;
  background-position: center center;
  background-attachment: fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   font-family: 'Montserrat', sans-serif;
}
.navbar-default {
  background-image:none;
  background-image:none;
  background-image:none;
  background-image:none;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border-radius:0px;
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
  box-shadow:inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
  background:rgba(0,0,0,0.25);
}
.navbar-brand .material-icons {
  color:#fff;
  text-shadow:1px 1px 1px #000;
  margin: 50px;
}
.navbar-default .navbar-nav > li > a {
  color:#fff;
  text-shadow:1px 1px 1px #000;
  margin: 10px;
}
.menu-nav{
  margin-top: 10px;
}
.logo{
  width: 100px;
  margin-left: 30px;
  margin-top:10px;
}
.contai-log{
  border:5px solid #8E8E8E;
  border-radius: 15px;
  /*width: 750px;*/
  margin: 30px 0px 0px 0px;
  background-color: rgba(0,0,0,0.6);
}



button{
  border-radius: 0.5em;
    border: 2px solid white;
    display: block;
    color: white;
    background-color: rgba(0,0,0,0.6);
    font-size: 2em;
    height: 3em;
    /* width: 5em; */
    font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.img-user{
  width: 60px;
  border-radius: 50%;
  border:1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
}
button:hover{
background-color: rgba(208, 139, 113, 0.5);
color: #F3AF65;
}

.icons{
  width: 40%;
}
@media (min-width: 768px) and (max-width: 1900px) { 
  .logo_login{
    max-width: 50%;
    margin: 30px 0px 15px 120px;
  }
  .text-center{
  margin-left:50px;
  color: white;
  }
  .omb_btn-facebook {
    background: #3b5998;
    color: white;
    align-content: center;
    margin:10px 0px 10px 35px;
    padding: 2px;
  }
  .omb_btn-google {
    background: #c32f10;
    color: white;
    align-content: center;
    margin:10px 0px 10px 35px;
    padding: 2px;
  }
  .omb_btn-twitter {
    background: #00aced;
    color: white;
    align-content: center;
    margin:10px 0px 10px 35px;
    padding: 2px;
  }
  .omb_btn-github {
    background: #666666;
    color: white;
    align-content: center;
    margin:10px 0px 30px 35px;
    padding: 2px;
  }
  .title{
    font-size: 3.7em;
    margin-top: 150px;
    font-weight: bolder;
    color: white;
    font-family: 'Montserrat Subrayada', sans-serif;
  }
  .currentTime{
    color: white;
    font-size: 1.5em;
  }
  .today{
    font-size: 1.7em;
    margin:80px 0px 20px 430px;
    padding: 0px 21px;
  }
  .anyDay{
    font-size: 1.7em;
    margin:10px 0px 20px 430px;
    padding: 0px 10px;
  }
  .moonButton{
    font-size: 1.7em;
    margin:10px 0px 20px 430px;
    padding: 0px 14px;
  }
  #searchTextField{
    width: 15em;
    font-size: 1.5em;
    border: 2px solid #07a8af;
    color: #757070;
    padding: 0.3em;
    margin-top:50px;
    margin-left:30px;
  }
  .dayLength{
    background-color: rgba(252, 254, 236, 0.73);
    font-size: 2em;
    padding: 0.5em;
    width: 1106px;
  }
  .color-wall{
    background-color: rgba(252, 254, 236, 0.73);
    margin-top: 2em;
    /*font-size: em;*/
  }

  .color-wall h4, h2{
  font-size: 1.5em;
  }
  #searchWithDate{
    width: 15em;
    font-size: 1.5em;
    border: 2px solid #07a8af;
    padding: 0.3em;
    display: block;
    margin-left: 410px;
    margin-top: 50px;
  }
  .inputDate{
    font-size: 1.5em;
    color: grey;
    padding: 0.5em 0.1em;
    margin-top: 1em;
  }
  .moon{
    background-color:rgba(252, 254, 236, 0.5);
    padding:20px 30px;
    color:black;
    margin:1px;
    font-weight: bolder;
  }
  #moonInfo{
    font-size: 2em;
  }
 }
 @media (max-width: 767px) { 
  .logo_login{
    max-width: 50%;
    margin: 30px 0px 15px 60px;
  }
  .text-center{
  text-align: center;
  color: white;
  }
  .omb_btn-facebook {
    background: #3b5998;
    color: white;
    align-content: center;
    margin:10px 0px 10px 0px;
    padding: 2px;
  }
  .omb_btn-google {
    background: #c32f10;
    color: white;
    align-content: center;
    margin:10px 0px 10px 0px;
    padding: 2px;
  }
  .omb_btn-twitter {
    background: #00aced;
    color: white;
    align-content: center;
    margin:10px 0px 10px 0px;
    padding: 2px;
  }
  .omb_btn-github {
    background: #666666;
    color: white;
    align-content: center;
    margin:10px 0px 30px 0px;
    padding: 2px;
  }
  .title{
    margin-top: 150px;
    font-weight: bolder;
    color: white;
    font-family: 'Montserrat Subrayada', sans-serif;
  }
  .currentTime{
    color: white;
    font-size: 1.3em;
  }
  .today{
    font-size: 1.2em;
    margin:80px 0px 20px 60px;
    padding: 0px 18px;
  }
  .anyDay{
    font-size: 1.2em;
    margin:10px 0px 20px 60px;
    padding: 0px 10px;
  }
  .moonButton{
    font-size: 1.2em;
    margin:10px 0px 20px 60px;
    padding: 0px 13px;
  }
  #searchTextField{
    width: 15em;
    font-size: 1.5em;
    border: 2px solid #07a8af;
    padding: 0.3em;
    margin-top:50px;
    margin-left:30px;
  }
  .dayLength{
    background-color: rgba(252, 254, 236, 0.73);
    font-size: 1em;
    padding: 0.5em;
  }
  .color-wall{
    background-color: rgba(252, 254, 236, 0.73);
    margin-top: 2em;
    /*font-size: em;*/
  }

  .color-wall h4, h2{
  font-size: 1em;
  }
  #searchWithDate{
    width: 15em;
    font-size: 1em;
    border: 2px solid #07a8af;
    padding: 0.3em;
    display: block;
    margin-left: 70px;
    margin-top: 50px;
  }
  .inputDate{
    font-size: 1em;
    color: grey;
    padding: 0.5em 0.1em;
    margin-top: 1em;
  }
  .moon{
    background-color:rgba(252, 254, 236, 0.5);
    padding:10px 20px;
    color:black;
    margin:1px;
    font-weight: bolder;
  }
  #moonInfo{
    font-size: 0.7em;
  }
  svg{
    width: 70px;
  }
}
 
